Makefile
config.h
Changelog
.libs
.deps
.dirstamp
percona_playback/version.h
doxygen/html
doxygen/header.html
percona_playback/plugin_load_list.h
*.lo
*.la
bin/percona-playback
percona_playback/test/basic
percona_playback/test/help
percona_playback/test/basic-queue-depth
percona_playback/test/crashme-slow
percona_playback/test/sqlbench-transactions-slow
percona_playback/test/sysbench-slow
docs/build/*
percona_playback/test/preserve_query_time
percona_playback/test/tcpdump_accuracy
percona_playback/test/tcpdump_fragmented_packet
percona_playback/test/tcpdump_multiple_connections
percona_playback/test/tcpdump_stress_test
percona_playback/test/tcpdump_without_handshake
docs/build/
docs/plugins/

